.container {
    padding-top: 20px;
}

.container-fluid {
    margin: 7px auto 7px auto;
}

.first-col,
.col-top {
    border: 1px solid black;
    height: 28px;
    margin: -1px -1px auto auto;
    padding-top: 2px;
}

.col-bottom-left {
    background-color: darkgray;
    border: 1px solid black;
    height: 30px;
    margin: -1px -1px auto auto;
    padding-top: 2px;
}

.col-content {
    height: 30px;
    margin: -1px -1px auto auto;
    padding: 0 0 0 0 !important;
}

.first-col {
    background-color: silver;
}

.col-top {
    background-color: cyan;
}

.matrix-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid black;
  color: #555;
  display: block;
  font-size: 12px;
  height: 100%;
  line-height: 1.42857143;
  padding: 6px 12px;
  width: 100%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-validation input.ng-invalid.ng-dirty {
    border: 2px solid #f57a64;
}

.form-validation input.ng-valid.ng-dirty {
    border: 2px solid #78FA89;
}

.close {
    margin-right: 5px;
}