.container-principal {
    padding-top: 20px!important;
    margin-left: 3%!important;
    margin-right: 3%!important;
}

.container-fluid {
    margin: 7px auto 7px auto;
}

@font-face {
 font-family: "CFPunkisFont";
 src: url("../font/CFPunkisnotDead-Regular.ttf");
}

.font-title {
    font-family: "CFPunkisFont";
}

.first-col,
.col-top {
    background-color: #C94F26;
    color: #FFF;
    height: auto%;
    margin: -1px -1px 0 5px;
    padding-top: 2px;
    word-wrap: break-word;
}

.col-bottom-left {
    background-color: #FFF;
    border: 1px #f1eeee solid;
    color:#000;
    height: auto;
    margin: -1px -1px 0 5px;
    padding: 2px 0 0 0 !important;
    padding-top: 2px;
    word-wrap: break-word;
}

.col-content {
    background-color: #FFF;
    border: 1px #f1eeee solid;
    color:#000;
    height: auto;
    margin: -1px -1px 0 5px;
    padding: 0 0 0 0 !important;
    word-wrap: break-word;
}

.matrix-control {
  background-color: transparent;
  background-image: none;
  border: none;
  display: block;
  font-size: 12px;
  height: 100%;
  line-height: 1.42857143;
  padding: 6px 12px;
  width: 100%;
}

.matrix-control:focus {
  background-color: transparent;
  background-image: none;
  border: none;
  display: block;
  font-size: 12px;
  height: 100%;
  line-height: 1.42857143;
  padding: 6px 12px;
  width: 100%;
  outline: none;
}

.form-validation input.ng-invalid.ng-dirty {
    border: 2px solid #f57a64;
}

.form-validation input.ng-valid.ng-dirty {
    border: 2px solid #78FA89;
}

.close {
    margin-right: 5px;
}

.row-matrix-inpar {
    background-color: #FFF;
    color:#000;
}

.row-matrix-par {
    background-color: #e9e9e9;
    color:#000;
}

.row-matrix-aggregate {
    background-color: rgba(0, 0, 0, .075);
    color: #000;
}

.row-matrix-divider {
    margin: auto auto 5px auto;
}

.matrix-validation input.ng-invalid.ng-dirty {
    border: 3px solid #f57a64;
}

.open-card-composer {
  border: 1px rgba(202, 199, 199, 0.46) solid;
  border-radius: 3px 3px 3px 3px;
  background-color: rgba(202, 199, 199, 0.46);
  color: #8c8c8c;
  display: inline;
  padding: 8px 10px;
  position: relative;
  margin-left: 5px;
  -ms-flex: 0 0 auto;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-flex: 0;
}

.open-card-composer:hover  {
  border: 1px rgb(151, 151, 151) solid;
  border-radius: 3px 3px 3px 3px;
  background-color: rgb(151, 151, 151);
  color: #fff;
  display: inline;
  padding: 8px 10px;
  position: relative;
  margin-left: 5px;
  -ms-flex: 0 0 auto;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-flex: 0;
}

.popup-open-advanced-composer {
  border-radius: 3px 3px 3px 3px;
  color: #8c8c8c;
  display: inline;
  padding: 8px 10px;
  position: relative;
  -ms-flex: 0 0 auto;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-flex: 0;
}

.btn {
    padding: 6px 11px !important;
}

.open-option {
  color: #fff;
  padding: 8px 10px;
  position: relative;
}

.open-option:hover {
  color: #efe3e3;
  text-decoration: none;
}

.open-option:focus {
  color: #efe3e3;
  text-decoration: none;
}

.option-label-color {
    color: #000 !important;
}

.form-dropdown-menu {
    width: 250px;
}

.bg-winner {
    background-color: #AACC39;
    color: #fff;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.tooltip {
    min-width:400px;
}

.animate.ng-enter,
.animate.ng-leave {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.animate.ng-enter,
.animate.ng-leave.ng-leave-active {
  opacity:0;
}
.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
  opacity:1;
}