<!DOCTYPE html>
<meta charset="utf-8">
<title>Decision Matrix</title>
<link rel="stylesheet" href="../css/app.css">
<link rel="stylesheet" href="../css/bootstrap.css">
<body ng-app="decisionMatrixApp">
    <div class="container" ng-controller="MatrixController">
        <h2>Decision Matrix</h2>
        <br>
        <button type="button" class="btn btn-primary btn-xs" ng-click="openSettingModal('sm')"><img src="../img/tools.png" alt="Tools setting"></button>
        <button type="button" class="btn btn-primary btn-xs" ng-click="openFeatureModal('sm')">Add Feature</button>
        <!--<button type="button" class="btn btn-primary btn-xs" ng-click="openFeatureModal('sm')" ng-if="features.length > 0 || options.length > 0"><img src="../img/eye.png" alt="Eye show"></button>-->
        <div class="container-fluid" ng-if="features.length > 0 || options.length > 0" horizontal-decision-matrix>
        </div>
        <button type="button" class="btn btn-primary btn-xs" ng-click="openOptionModal('sm')">Add Option</button>
        <option-modal></option-modal>
        <feature-modal></feature-modal>
        <settings-modal></settings-modal>
    </div>
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angular-sanitize.min.js"></script>
    <script src="../lib/ui-bootstrap-tpls-0.12.1.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/controllers/matrixcontroller.js"></script>
    <script src="../js/controllers/optionmodalinstancecontroller.js"></script>
    <script src="../js/controllers/featuremodalinstancecontroller.js"></script>
    <script src="../js/models/featuremodel.js"></script>
    <script src="../js/models/optionmodel.js"></script>
    <script src="../js/models/matrixmodel.js"></script>
    <script src="../js/models/qualitativemodel.js"></script>
    <script src="../js/controllers/settingmodalinstancecontroller.js"></script>
    <script src="../js/components/directives/modals.js"></script>
    <script src="../js/components/directives/decisionmatrix.js"></script>
</body>