<div class="row">
    <div class="col-md-2 first-col">
        <strong class="dropdown" dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle open-option" dropdown-toggle>
                +
            </a>
            <option-modal class="dropdown-menu"></option-modal>
        </strong>
        <strong class="col-md-offset-1">Options</strong>
    </div>
    <div class="col-md-2 col-top text-center" ng-repeat="feature in features" ng-show="feature.visible">
        <strong>{{feature.name}}</strong>
        <button type="button" class="close" aria-label="Close" ng-click="deleteFeature($index)"><span aria-hidden="true">&times;</span></button>
        <button type="button" class="close" aria-label="Close" ng-click="toggleVisibilityFeature($index)"><span aria-hidden="true">-</span></button>
    </div>
    <div class="col-md-2 col-top text-center" ng-show="features.length > 0">
        <strong>Sum</strong>
    </div>
    <div class="col-md-2 col-top text-center" ng-show="features.length > 0">
        <strong>Weigth</strong>
    </div>
</div>
<div class="row" ng-repeat="option in options" ng-show="option.visible" ng-init="index = $index">
    <div class="col-md-2 col-bottom-left" ng-class="{'bg-success' : option.weightedSum == returnWiningOption(), 'row-matrix-par' : index%2 == 0, 'row-matrix-inpar' : index%2 != 0}">
        <strong>{{option.name}}</strong>
        <button type="button" class="close" aria-label="Close" ng-click="deleteOption($index)"><span aria-hidden="true">&times;</span></button>
        <button type="button" class="close" aria-label="Close" ng-click="option.visible = false"><span aria-hidden="true">-</span></button>
    </div>
    <div class="col-md-2 col-content matrix-validation" ng-class="{'bg-success' : option.weightedSum == returnWiningOption(),'row-matrix-par' : index%2 == 0, 'row-matrix-inpar' : index%2 != 0}" ng-repeat="feature in option.features" ng-show="feature.visible">
        <input type="number" class="matrix-control" min="{{settings.minValue}}" max="{{settings.maxValue}}" ng-model="feature.value" ng-if="!feature.isqualitative" />
        <select ng-model="feature.value" ng-if="feature.isqualitative" ng-options="opt as opt.name for opt in qualitativeOptions"></select>
    </div>
    <div class="col-md-2 col-content" ng-class="{'bg-success' : option.weightedSum == returnWiningOption(),'row-matrix-par' : index%2 == 0, 'row-matrix-inpar' : index%2 != 0}" ng-show="option.features.length > 0">
        <input type="number" readonly class="matrix-control" value="{{calculateSumForFeatures(index)|number:2}}" />
    </div>
    <div class="col-md-2 col-content" ng-class="{'bg-success' : option.weightedSum == returnWiningOption(),'row-matrix-par' : index%2 == 0, 'row-matrix-inpar' : index%2 != 0}" ng-show="option.features.length > 0">
        <input type="number" readonly class="matrix-control" value="{{calculateTotalWeightForFeatures(index)|number:2}}" />
    </div>
</div>