<form name="settingForm" class="form-dropdown-menu form-validation">
    <div class="modal-body" ng-click="MatrixCtrl.toggleDropdown($event)">
        <div class="form-group">
            <label for="minValue">Minimun value for Criteria:</label>
            <input id="minValue" type="number" class="form-control" autofocus required placeholder="Enter Minimun value" ng-model="MatrixCtrl.settings.minValue">
        </div>
        <div class="form-group">
            <label for="maxValue">Maximun value for Criteria:</label>
            <input id="maxValue" type="number" class="form-control" required placeholder="Enter Maximun value" ng-model="MatrixCtrl.settings.maxValue">
        </div>
        <div class="form-group">
            <label for="minAcceptedValue">Minimun value for status:</label>
            <input id="minAcceptedValue" type="number" class="form-control" required placeholder="Enter Minimun value for status" ng-model="MatrixCtrl.settings.minAcceptedValue">
        </div>
        <div class="checkbox">
            <label for="displaySum">
                <input id="displaySum" type="checkbox" ng-model="MatrixCtrl.settings.DisplaySum" /> Show Sum
            </label>
        </div>
        <div class="checkbox">
            <label for="displayWeight">
                <input id="displayWeight" type="checkbox" ng-model="MatrixCtrl.settings.DisplayWeight" /> Show Weigth
            </label>
        </div>
        <div class="checkbox">
            <label for="displayStatus">
                <input id="displayStatus" type="checkbox" ng-model="MatrixCtrl.settings.DisplayStatus" /> Show Status
            </label>
        </div>
    </div>
</form>