<form name="settingForm" class="form-dropdown-menu form-validation">
    <div class="modal-body" ng-click="toggleDropdown($event)">
        <div class="form-group">
            <label for="settingModalContent">Minimun value for Feature:</label>
            <input type="number" class="form-control" autofocus required placeholder="Enter Minimun value" ng-model="settings.minValue">
        </div>
        <div class="form-group">
            <label for="settingModalContent">Maximun value for Feature:</label>
            <input type="number" class="form-control" required placeholder="Enter Maximun value" ng-model="settings.maxValue">
        </div>
        <div class="form-group">
            <label for="settingModalContent">Minimun value for status:</label>
            <input type="number" class="form-control" required placeholder="Enter Minimun value for status" ng-model="settings.minAcceptedValue">
        </div>
    </div>
</form>