<form name="optionForm" class="form-dropdown-menu form-validation">
    <div class="modal-body" ng-click="toggleDropdown($event)">
        <div class="form-group">
            <label for="optionModalContent" class="option-label-color">Name:</label>
            <input type="text" class="form-control" focus-me="focusOptionModal" required placeholder="Enter Name" ng-model="option.name">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="addOption(option)" ng-disabled="optionForm.$invalid">Add</button>
        <input class="btn btn-warning" type="button" ng-click="cancelOption(option)" value="Cancel" />
    </div>
</form>