<div class="form-dropdown-menu modal-body" ng-click="toggleDropdown($event)">
    <ul>
        <li ng-repeat="qualitativeOption in qualitativeOptions">{{qualitativeOption.name}}
    </ul>
    <form name="newQualitativeForm" class="form-validation" ng-if="newQualitative">
        <div class="modal-body">
            <div class="form-group">
                <label for="qualitativeModalContent">Name:</label>
                <input type="text" class="form-control" autofocus required placeholder="Enter Name" ng-model="qualitative.name">
            </div>
            <div class="form-group">
                <label for="qualitativeModalContent">Value:</label>
                <input type="number" class="form-control" required min="{{settings.minValue}}" max="{{settings.maxValue}}" placeholder="Enter Value" ng-model="qualitative.value">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="addQualitativeOption()" ng-disabled="newQualitativeForm.$invalid">Add</button>
            <input class="btn btn-default" type="button" ng-click="closeNewQualitative()" value="Cancel" />
        </div>
    </form>
    <a class="open-card-composer js-open-card-composer" href="#" ng-click="newQualitative = true" ng-hide="newQualitative">Add Qualitative Option…</a>
</div>