<form name="featureForm" class="form-validation">
    <div class="modal-body" ng-click="toggleDropdown($event)">
        <div class="form-group">
            <label for="featureModalContent">Name:</label>
            <input type="text" class="form-control" autofocus required placeholder="Enter Name" ng-model="feature.name" />
        </div>
        <div class="form-group">
            <label for="featureModalContent">Weight:</label>
            <input type="number" class="form-control" placeholder="Enter Weight" ng-model="feature.weight" />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="feature.isqualitative" /> Qualitative
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="addFeature()" ng-disabled="featureForm.$invalid">Add</button>
        <input class="btn btn-warning" type="button" ng-click="cancelFeature()" value="Cancel" />
    </div>
</form>