<div class="row">
    <div class="col-md-2 first-col">
        <strong>Features</strong>
    </div>
    <div class="col-md-2 col-top text-center" ng-repeat="option in options" ng-show="option.visible">
        <strong>{{option.name}}</strong>
        <button type="button" class="close" aria-label="Close" ng-click="deleteOption($index)"><span aria-hidden="true">&times;</span></button>
        <button type="button" class="close" aria-label="Close" ng-click="option.visible = false"><span aria-hidden="true">-</span></button>
    </div>
</div>
<div class="row" ng-repeat="feature in features" ng-show="feature.visible" ng-init="index = $index">
    <div class="col-md-2 col-bottom-left">
        <strong>{{feature.name}}</strong>
        <button type="button" class="close" aria-label="Close" ng-click="deleteFeature($index)"><span aria-hidden="true">&times;</span></button>
        <button type="button" class="close" aria-label="Close" ng-click="toggleVisibilityFeature($index)"><span aria-hidden="true">-</span></button>
    </div>
    <div class="col-md-2 col-bottom-left" ng-repeat="option in options">
        <input type="number" class="matrix-control" min="{{settings.minValue}}" max="{{settings.maxValue}}" ng-model="option.features[index].value" />
    </div>
</div>
