<div class="row  row-eq-height row-matrix-divider">
    <div class="col-md-2 col-top">
        <strong class="col-md-offset-1">Alternatives</strong>
    </div>
    <div class="col-md-2 col-top animate" ng-repeat="option in options" ng-show="option.visible" ng-class="{'bg-winner' : (returnWiningOption() > 0) ? (option.weightedSum == returnWiningOption() && option.weightedSum >= settings.minAcceptedValue) : false}">
        <strong>{{option.name}}</strong>
        <button type="button" class="close" aria-label="Close" ng-click="deleteOption($index)"><i class="fa fa-trash icon-matrix"></i></button>
        <button type="button" class="close" aria-label="Close" ng-click="option.visible = false"><i class="fa fa-eye-slash icon-matrix"></i></button>
    </div>
</div>
<div class="row row-eq-height row-matrix-divider animate" ng-repeat="feature in features track by $index" ng-show="feature.visible" ng-init="indexFeature = $index">
    <div class="col-md-2 col-bottom-left">
        <strong>{{feature.name}}</strong>
        <button type="button" class="close" aria-label="Close" ng-click="deleteFeature($index)"><i class="fa fa-trash icon-matrix"></i></button>
        <button type="button" class="close" aria-label="Close" ng-click="toggleVisibilityFeature($index)"><i class="fa fa-eye-slash icon-matrix"></i></button>
    </div>
    <div class="col-md-2 col-bottom-left matrix-validation animate" ng-class="{'bg-winner' : (returnWiningOption() > 0) ? (option.weightedSum == returnWiningOption() && option.weightedSum >= settings.minAcceptedValue) : false}" ng-repeat="option in options" ng-show="option.visible">
        <select class="matrix-control" ng-class="{'bg-winner' : (returnWiningOption() > 0) ? (option.weightedSum == returnWiningOption() && option.weightedSum >= settings.minAcceptedValue) : false}" ng-model="option.features[indexFeature].value" ng-if="option.features[indexFeature].isqualitative" ng-options="opt as opt.name for opt in qualitativeOptions"></select>
        <input type="number" class="matrix-control" min="{{settings.minValue}}" max="{{settings.maxValue}}" ng-model="option.features[indexFeature].value" ng-if="!option.features[indexFeature].isqualitative" />
    </div>
</div>
<div class="row row-eq-height row-matrix-divider" ng-show="settings.DisplaySum">
    <div class="col-md-2 col-bottom-left">
        <strong>Sum</strong>
    </div>
    <div class="col-md-2 col-bottom-left animate" ng-class="{'bg-winner' : (returnWiningOption() > 0) ? (option.weightedSum == returnWiningOption() && option.weightedSum >= settings.minAcceptedValue) : false}" ng-repeat=" option in options" ng-show="option.visible">
        <input type="number" readonly class="matrix-control" value="{{option.sumOfFeatures()|number:2}}" />
    </div>
</div>
<div class="row row-eq-height row-matrix-divider" ng-show="settings.DisplayWeight">
    <div class="col-md-2 col-bottom-left">
        <strong>Weigth</strong>
    </div>
    <div class="col-md-2 col-bottom-left" ng-class="{'bg-winner' : (returnWiningOption() > 0) ? (option.weightedSum == returnWiningOption() && option.weightedSum >= settings.minAcceptedValue) : false}" ng-repeat="option in options" ng-show="option.visible">
        <input type="number" readonly class="matrix-control" value="{{option.weightedSumOfFeatures()|number:2}}" />
    </div>
</div>
<div class="row row-eq-height row-matrix-divider" ng-show="settings.DisplayStatus">
    <div class="col-md-2 col-bottom-left">
        <strong>Status</strong>
    </div>
    <div class="col-md-2 col-bottom-left text-center" ng-class="{'bg-winner' : (returnWiningOption() > 0) ? (option.weightedSum == returnWiningOption() && option.weightedSum >= settings.minAcceptedValue) : false}" ng-repeat="option in options" ng-show="option.visible">
        <i class="fa" ng-class="{'fa-check-circle status-approved': option.weightedSum >= settings.minAcceptedValue,'fa-times-circle status-cancel': option.weightedSum < settings.minAcceptedValue}"></i>
    </div>
</div>